div {
  padding: 100;
  margin: 100;
  align-items: center;
  color: "green"
}

/* .text-center{
  padding: 100;
  margin: 100;
  align-items: center;
  color: "green"
} */
/* .dashboard-name {
  color: "pink",
  align-items: center;
} */
/* 
div {
  align-items: center;
  color: "green";
} */
